* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* :root {
  --theme-color: rgb(255, 255, 255);
  --primary-font: black;
  --card-color: rgb(255, 0, 0);
}

[data-theme="light" ] {
  --theme-color: rgb(255, 255, 255);
  --primary-font: black;
  --card-color: rgb(255, 0, 0);
}

[data-theme = "dark" ] {
  --theme-color: rgb(29, 29, 37);
  --primary-font: white;
  --card-colour: rgb(0, 0, 255);
} */


.app {
  background-color: var(--theme-color);
  color: var(--primary-font);
  min-height: 100vh;
}