* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.night{
  background-color: rgb(29, 29, 37);
  min-height: 100vh;
  color: white;

}

.day {
  background-color: white;
  min-height: 100vh;
}