.LineCard {
  background-color: var(--card-color);
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 0px
}

.lineName {
  font-size: 1.0rem;
  padding-bottom: 5px;
}

.detailsContainer {
  display: flex;
  align-items: center;
}
.viewDetails {
  border: none;
  background-color: rgba(255, 210, 30, 0.418);
  border-radius: 5px;
  color: white;
  padding: 5px;
  height: auto;
}

.descriptions {
  margin-top: 20px;
}
