.LineCard {
  background-color: rgb(38, 38, 42);
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  border-radius: 10px;
  border-left: solid 15px #B36305;
}

.Bakerloo {
  border-left: solid 15px #B36305;
}